absl-py 
asttokens 
astunparse 
autograd 
autograd-gamma 
beautifulsoup4 
catboost 
certifi 
cffi 
charset-normalizer 
colorama 
comm 
contourpy 
curl_cffi 
cycler 
debugpy 
decorator 
executing 
filelock 
flatbuffers 
fonttools 
formulaic 
fsspec 
gast 
google-pasta 
graphviz 
grpcio 
h5py 
idna 
interface_meta 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
Jinja2 
joblib 
jupyter_client 
jupyter_core 
keras 
keras-tcn 
kiwisolver 
libclang 
lifelines 
lightgbm 
markdown-it-py 
MarkupSafe 
matplotlib 
matplotlib-inline 
mdurl 
ml_dtypes 
mplfinance 
mpmath 
multitasking 
namex 
narwhals 
nest-asyncio2 
networkx 
ngboost 
numpy 
opt_einsum 
optree 
packaging 
pandas 
parso 
peewee 
pillow 
platformdirs 
plotly 
prompt_toolkit 
protobuf 
psutil 
pure_eval 
pycparser 
Pygments 
pyparsing 
python-dateutil 
pytorch-tabnet 
pytz 
pyzmq 
requests 
rich 
scikeras 
scikit-learn 
scipy 
seaborn 
six 
soupsieve 
stack-data 
sympy 
tensorflow 
termcolor 
threadpoolctl 
torch 
tornado 
tqdm 
traitlets 
typing_extensions 
tzdata 
urllib3 
wcwidth 
websockets 
wrapt 
xgboost 
yfinance 
